// Jacknife provided color scheme

coolGrey = #CCC
natureLt = #D0DF00
natureDk = #76881D
natLt = natureLt
natDk = natureDk

ethnographyLt = #00B5E2
ethnographyDk = #077CAB
ethLt = ethnographyLt
ethDk = ethnographyDk

fashionLt = #E4002B
fashionDk = #802F2D
fasLt = fashionLt
fasDk = fashionDk

performanceLt = #FF7500
performanceDk = #9D4815
perLt = performanceLt
perDk = performanceDk