coolGrey = #CCC
natureLt = #D0DF00
natureDk = #76881D
natLt = natureLt
natDk = natureDk

ethnographyLt = #FF7500
ethnographyDk = #9D4815
ethLt = ethnographyLt
ethDk = ethnographyDk

fashionLt = #E4002B
fashionDk = #802F2D
fasLt = fashionLt
fasDk = fashionDk

performanceLt = #00B5E2
performanceDk = #077CAB
perLt = performanceLt
perDk = performanceDk