// Fonts from Jacknife

@font-face
  font-family Unica
  src url(fonts/NeueHaasUnicaPro.otf) format("openType")
  
@font-face
  font-family Unica Thin
  src url(fonts/NeueHaasUnicaPro-Thin.otf) format("openType")
  
@font-face
  font-family Digits
  src url(fonts/DS-Digit.ttf) format("trueType")