@import 'jeet'
@import 'rupture'
@import 'client/util'
@import 'client/colors'
@import 'client/fonts'

//edit()

.individualScoreBoard
  center(100%)
  height 100%
  bgPng(winBaseEffect)

.banner > img
  center(100%)
  height 100% 
  
.scoreRect
  center(55%)
  margin-top 2rem
  height 17%
  bgPng(gameOver)
  

.playerScore   
  text-align center
  margin-top 0.2rem
  overflow hidden
  font-size 4.5rem
  color white
  
.nameInput
  center(55%)    

.nameBanner
  span(1/2)    
.nameBanner > img
  center(100%)
  height 100%
  margin-top 1.5rem

.inputBlock
  margin-top 1.5rem    
  span(1/2)
  font-size 1.6rem      
  bgPng('assets/yournameHere_line')

.btnMenu
  center(35%)
  margin-top 1.5rem

.restartBtn
  span(1/2)
.restartBtn > img
  center(100%)
  overflow hidden
  height 100%

.homeBtn
  span(1/4)
.homeBtn > img
  center(100%)
  overflow hidden
  height 100%
  
.rankBtn 
  span(1/4)
.rankBtn > img
  center(100%)
  height 100%
  overflow hidden

  
  

  
      