template(name="scores")
  .scoreboard
    .headerImg
      img(src="assets/top10.png")
    .lineStart
      img(src="assets/lineOne.png")
    .scoreContainer  
        .scoreRow.labels
          .rank 
            img(src="rank.png")
          .name 
            img(src="name.png")
          .score 
            img(src="score.png")
        each scores
          .scoreRow
            .rank #{rank}
            .name #{name}
            .score #{score}
    .lineStart
      img(src="assets/lineOne.png")