// Assign a class to have a full-size background image
bgImage(image)
  url = image + '.jpg'
  background-image url(url)
  background-size cover
  background-position bottom
// Assign a class to have a full-size background png

bgPng(image)
  url = image + '.png'
  background-image url(url)
  background-size cover
  -moz-background-size cover
  background-position bottom 

// Colored line divider
thinLine(clr)
  border-top solid 5px clr

// Quick z-indexing [should add material design drop shadows as option]
level(lvl)
  z-index lvl
  position relative