template(name="layout")
  head
    title dx-app
    
  meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
  meta(name="mobile-web-app-capable" content="yes")

  body
    +sidebar
    +main
    
template(name="sidebar")
  .sidebar
    .qr
      +qrScanner(facing="environment")
    .badges
    
template(name="main")
  .content
    +nav
    .panes
      +yield "content"
    
template(name="nav")
  nav