template(name="layout")
  head
    title dx-app
    
  meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
  meta(name="mobile-web-app-capable" content="yes")

  body
    +sidebar
    +main
    
template(name="sidebar")
  .sidebar
    .qr
    .badges
    
template(name="main")
  .content
    +nav
    .panes
      +yield "content"
    
template(name="nav")
  nav
  
  
//Actual content panes 
template(name="base")
  .pane
    button {{btnTxt}}
    p You've pressed the button {{counter}} times.
  .pane
    button {{btnTxt}}
    p You've pressed the button {{counter}} times.
  .pane
    button {{btnTxt}}
    p You've pressed the button {{counter}} times.