@import 'jeet'
@import 'rupture'
@import 'client/util'
@import 'client/colors'
@import 'client/fonts'

//edit()
  
body
  font-family 'Unica'
  position absolute
  overflow hidden
  width 100%
  height 100%
  margin 0

  
// Set divisions between sections of page
upperSplit = 19.2% // Change this to alter ratio between top & bottom sections [percent]
lowerSplit = 100% - upperSplit

mobileSplit = 16%
mobileLower = 100% - mobileSplit

leftSplit = 1/7 // Change this to alter ratio between left & right sections [fraction]
rightSplit = 1 - leftSplit

// Left sidebar with QR & badges
.sidebar
  span(leftSplit)
  height 100%
  level(3)
  
  // QR canvas
  .qr
    height upperSplit
    background coolGrey
  .qr.eth
    background ethLt
  .qr.per
    background perLt
  .qr.nat
    background natLt
  .qr.fas
    background fasLt
    
  // Sidebar with image & badges
  .badges
    height lowerSplit
    background coolGrey
    // box-shadow 4px 0px 5px 0px rgba(0,0,0,0.11) //Optional drop shadow on sidebar
    level(4)
    
    .badge
      position relative
      top 5%
      width 80%
      margin-left 18%
      height 20%
      margin-bottom 10%
      background-size contain
      background-repeat no-repeat
  
  // Sidebar themes
  .badges.eth
    bgImage(ethnography)
  .badges.per
    bgImage(performance)
  .badges.nat
    bgImage(nature)
  .badges.fas
    bgImage(fashion)

// Badge states
#nature
  background-image url(badges/nature_0.png)
#nature.view1
  background-image url(badges/nature_1.png)
#nature.view2
  background-image url(badges/nature_2.png)
#nature.view3
  background-image url(badges/nature_3.png)
#nature.view4
  background-image url(badges/nature_4.png)
#performance
  background-image url(badges/performance_0.png)
#performance.view1
  background-image url(badges/performance_1.png)
#performance.view2
  background-image url(badges/performance_2.png)
#performance.view3
  background-image url(badges/performance_3.png)
#performance.view4
  background-image url(badges/performance_4.png)
#fashion
  background-image url(badges/fashion_0.png)
#fashion.view1
  background-image url(badges/fashion_1.png)
#fashion.view2
  background-image url(badges/fashion_2.png)
#fashion.view3
  background-image url(badges/fashion_3.png)
#fashion.view4
  background-image url(badges/fashion_4.png)
#ethnography
  background-image url(badges/ethnography_0.png)
#ethnography.view1
  background-image url(badges/ethnography_1.png)
#ethnography.view2
  background-image url(badges/ethnography_2.png)
#ethnography.view3
  background-image url(badges/ethnography_3.png)
#ethnography.view4
  background-image url(badges/ethnography_4.png)
        
// Right side of app: contains nav and content panes [nav is in separate nav.styl file]
.content
  span(rightSplit)
  height 100%
    
.panes
  width 600%
  height 100%
  left 0
  level(1)
  
.pane
  span(1/6)
  height 100%