template(name="layout")
  head
    title dx-app
    
  meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
  meta(name="mobile-web-app-capable" content="yes")

  body
    +sidebar
    +main
    
template(name="sidebar")
  .sidebar
    .qr
      +qrScanner(facing="environment")
    .badges
      .badge#nature
      .badge#performance.active
      .badge#fashion
      .badge#ethnography
    
template(name="main")
  .content
    +nav
    .panes
      +yield "content"
    
template(name="nav")
  nav(width="{{pctComplete}}")
    .line
      .fill
    .card#card1
      .icon
    .card#card2
      .icon
    .card#card3
      .icon
    .card#card4
      .icon
    .card#card5
      .icon
    .card#card6
      .icon
    .logo