@import 'jeet'
@import 'rupture'
@import 'client/colors'
@import 'client/fonts'

//edit()
  
body
  font-family 'Unica'
  position absolute
  overflow hidden
  width 100%
  height 100%
  margin 0

  
//Set divisions between sections of page
upperSplit = 19.2%
lowerSplit = 100% - upperSplit

mobileSplit = 16%
mobileLower = 100% - mobileSplit

leftSplit = 1/7
rightSplit = 1 - leftSplit

//Assign a class to have a full-size background image
bgImage(image)
  url = image + '.jpg'
  background-image url(url)
  background-size cover
  background-position bottom
  
thinLine(clr)
  border-top solid 5px clr
  
level(lvl)
  z-index lvl
  position relative

//Left sidebar with QR & badges
.sidebar
  span(leftSplit)
  height 100%
  level(3)
  
  //QR canvas
  .qr
    height upperSplit
    background perLt
    
  //Contains badges
  .badges
    height lowerSplit
    bgImage(performance)
    //box-shadow 4px 0px 5px 0px rgba(0,0,0,0.11)
    level(4)
    
    .badge
      position relative
      top 5%
      width 80%
      margin-left 20%
      height 20%
      margin-bottom 10%
      background-size contain
      background-repeat no-repeat

// Badges
#nature
  background-image url(badges/nature_0.png)
#performance
  background-image url(badges/performance_0.png)
#performance.active
  background-image url(badges/performance.png)
#fashion
  background-image url(badges/fashion_0.png)
#ethnography
  background-image url(badges/ethnography_0.png)
#ethnography.active
  background-image url(badges/ethnography.png)
        
//Right side of app, contains nav and content panes
.content
  span(rightSplit)
  height 100%
    
.panes
  width 600%
  height 100%
  left 0
  level(1)
  
.pane
  span(1/6)
  height 100%