template(name="base")
  aside
    button Click Me
    p You've pressed the button {{counter}} times.
  
template(name="main")
  head
    title dx-app

  body
    h1 Quak!
    
    +base
    
    +base 
    
    +base
  
