template(name="individualScores")
  .individualScoreBoard
    .headerImg
      img(src="assets/yourwinBanner.png")
    .banner
      img(src="assets/yourscore.png")
    .scoreRect
      .playerScore 123
    .nameInput
      .nameBanner
        img(src="assets/yournamehereBanner.png")
      .inputBlock hahahaha
    .btnMenu
      .homeBtn
        img(src="assets/homeBtn.png")
      .restartBtn
        img(src="assets/restartBtn.png")
      .rankBtn
        img(src="assets/rankingBtn.png")
    
      

  