@import 'jeet'
@import 'rupture'
@import 'client/util'
@import 'client/colors'
@import 'client/fonts'

//edit()
   
.headerImg > img
  center(100%)
  margin-top 6.15%
  height 100%
.lineStart > img
  center(100%)
  margin-top 0.5%

.scoreContainer
  center(53%)
  height auto
  margin-top 0.5%

.scoreboard
  center(100%)
  height 100%
  bgPng('assets/rankingBaseEffect')
  
.scoreRow
  center(100%)
  
.rank
  col(2/10)
  text-align center
  border-bottom 1px solid coolGrey
.rank > img
  center(100%)    
    
.name
  col(4/10)
  text-align center      
  border-bottom 1px solid coolGrey
.name > img
  center(100%)    
    
.score
  col(4/10)
  text-align center
  border-bottom 1px solid coolGrey
.score > img
  center(100%)    
  
.comfy
  padding-left 1.2rem

.scoreRow:nth-child()
  
.labels
  font-size 1.6rem