@import 'jeet'
@import 'rupture'
@import 'client/util'
@import 'client/colors'
@import 'client/fonts'

//edit()
   
.headerImg > img
  center(100%)
  margin-top 6.15%
  height 100%
  margin-bottom 0.9em
  +below(800px)
    height 1.2em
    margin-top 2%
    margin-bottom 0.4em
.lineStart > img
  center(100%)
  margin-top 0.5%

.scoreContainer
  center(67%)
  height auto
  margin-top 0.5%
  +below(800px)
    center(90%)

.scoreboard
  center(100%)
  position fixed
  color white
  font-family 'Unica'
  font-size 1.8em
  +below(800px)
    font-size 1.2rem
  textShadow()
  top 0
  left 0
  z-index 15
  height 100%
  width 100%
  opacity 0
  transition opacity 0.4s
  pointer-events none
  bgPng('assets/rankingBaseEffect')
  
.scoreboard.active
  opacity 1
  pointer-events auto
  
.scoreRow
  center(100%)
  padding-bottom 0.2em
  
.rank
  col(2/10)
  text-align center
  border-bottom 1px solid coolGrey
.rank > img
  center(70%)   
  border-bottom none
    
.name
  col(4/10)
  text-align center      
  border-bottom 1px solid coolGrey
.name > img
  center(37%)   
  border-bottom none
    
.score
  col(4/10)
  text-align center
  border-bottom 1px solid coolGrey
.score > img
  center(37%) 
  border-bottom none
  
.comfy
  padding-left 1.2rem

.scoreRow:nth-child()
  
.labels
  font-size 1.6rem