template(name="exhibit8")
  +exhibit(num='eight' theme='fas')
  .pane
    .container
      .title 2015 A/W collection
      aside
        .manufacturer Y-3
      article  
        | The white Adidas stripes appear regularly in the Y3 collections often as details
        | on sleeves, collars.  The designer also uses them as a full graphic becoming a
        | pattern that can occupy most of the garment.

  .pane
    img(src="signature.jpg")

  .pane
    .container
      .text
        | Sports fabrics, pattern cutting and fastening details appear in the Y3 collection. 
        | Shown here is a simple drawstring waist tie inspired by the casual aesthetic of
        | fitness and leisurewear but appearing as high fashion in the Y3 collection.

  .pane
    img(src="sports.jpg")

  .pane
    .container
      .text
        | “Fashion always relates to current influences.  Sports has become so strong in the
        | last ten years. And now we live in a sports and body-conscious age. I don’t see
        | this changing soon.” Yohji Yamamoto, Interview magazine

  .pane
    video(loop  preload src="video/Y3  WINTER 15-16.ogv")