template(name="exhibit4")
  .exhibit#four
    .pane
      button {{btnTxt}}
      p You've pressed the button {{counter}} times.
    .pane
      button {{btnTxt}}
      p You've pressed the button {{counter}} times.
    .pane
      button {{btnTxt}}
      p You've pressed the button {{counter}} times.
    .pane
      button {{btnTxt}}
      p You've pressed the button {{counter}} times.
    .pane
      button {{btnTxt}}
      p You've pressed the button {{counter}} times.
    .pane
      button {{btnTxt}}
      p You've pressed the button {{counter}} times.