template(name="exhibit2")
  +exhibit(num='two' theme="per")
  .pane
    .container
      .title Eepmon Synthesis Parka
      aside
        .manufacturer Canada Goose
      article 
        | The Eepmon Synthesis Parka is a collaboration with Canada Goose. It is both designed and made in Canada,
        | using hand craft skills coupled with high performance fabrics.
        br
        br
        | Having these production skills allows the 
        | brand great freedom in focusing on small but important details that form the company’s reputation for high
        | quality performance outerwear.  

  .pane
    video(loop preload src="video/eepmon.mp4")

  .pane
    .container
      .title Eepmon Synthesis Parka
      aside
        .manufacturer Canada Goose

      article 
        | The inside lining of the Synthesis Parka reveals the beautifully crafted artwork by Eepmon,
        | which tells his story as a Canadian artist who bridges both Eastern and Western cultures.
        | The printed image depicts geese migrating among colorful fall leaves, eggs, and landmarks
        | symbolic to Canada.

  .pane
    video(loop preload src="video/canadaGoose.mp4")

  .pane
    button {{btnTxt}}
    p You've pressed the button {{counter}} times.

  .pane
    button {{btnTxt}}
    p You've pressed the button {{counter}} times.