template(name="exhibit13")
  +exhibit(num='thirteen' theme='per')
  .pane
    .container
      .title SS15 Adizero Feather Primeknit
      aside
        .manufacturer Adidas
      article
        | Adidas was known for the typical three stripes branding early in its history and
        | when designs for shoes were registered in 1949, they incorporated the logo along
        | the side. A Finnish sports brand Karhu Sports sold the three stripe trademark to
        | Adidas for the equivalent of CA$2,200 and two bottles of Whiskey. 

  .pane
    video(loop  preload src="video/adidas Originals - The Story of Adi Dassler.ogv")

  .pane
    .container
      .text
        | The AdiZero utilises the Adidas' Primeknit technology. This uses a knitted 3D
        | structure that creates a highly engineered textile upper in one piece. 
        | The result is an extremely lightweight trainer that combines performance with
        | comfort, an ultra-breathable construction, durability, and water resistance.

  .pane
    video(loop  preload src="video/Primeknit 2.0 -- Gamedayplus Episode 12 -- adidas Football.ogv")

  .pane
    .container
      .text
        | The Adizero shoes are recognizable for their knit which carries a distinctive
        | pattern. Knitting is a technique for producing a two or three-dimensional fabric
        | made from a yarn or thread. 
        br
        br
        | In sports footwear the yarn is usually polyester or nylon because of their
        | strength and versatility. As a textile structure, knit in general provides
        | greater elasticity than a woven fabric. The choice of yarn and knit further
        | impact the strength, elasticity and support that the uppers provide.

  .pane
    img(src="adizero fabric detail.jpg")