template(name="exhibit10")
  +exhibit(num='ten' theme='nat')
  .pane
    .container
      .title Recycled
      aside
        .manufacturer Maharishi
      article 
        | Maharishi was founded in 1994 by Hardy Blechman with the vision of creating
        | environmentally sound, fair-trade, long-lasting, high-quality, utilitarian
        | clothing. 
        br
        br
        | The collection has always included the strong natural fibre hemp as well as
        | organic cottons and upcycled military clothing. Maharishi remains a privately
        | owned company, and maintains a strong ethos of respect for nature while utilising
        | the latest technology.

  .pane
    img(src="maharishiFabric.jpg")

  .pane
    .container
      .text
        | Recycled military surplus has always been a permanent feature of Maharishi's
        | mainline collection, including vintage surplus items that are recut and updated
        | with accessory and cord systems. 
        br
        br
        | These processes are carried out in India, where
        | the clothing is smudged with herbal incense, blessed, and washed in saffron
        | water to symbolically cleanse it of its military associations.

  .pane
    video(loop  preload src="http://d7f2kled8s3wy.cloudfront.net/video/maharishi-upcycled-strategy-and-research-document.mp4")

  .pane
    .container
      .text
        | Maharishi uses natural and man-made fabrics from a number of manufacturers
        | including Schoeller in Switzerland.  
        br
        br
        | Harnessing the power of Schoeller's
        | 3XDRY® technology, fabrics become extremely water repellent on the outside
        | while being water absorbent on the inside. This keeps the body dry, minimizes
        | perspiration marks, and creates a cooling effect.

  .pane
    video(loop  preload src="http://d7f2kled8s3wy.cloudfront.net/video/maharishi-introduces-3xdry-technology.mp4")