template(name="exhibit5")
  +exhibit(num='five' theme='fas')
  .pane
    .container
      .title Bradley Wiggins collection look
      aside
        .manufacturer Fred Perry
      article
        | Fred Perry have collaborated over seven seasons with the British Olympic cycling
        | medalist Bradley Wiggins.
        br
        br
        | Autumn/Winter 2014 features both new and reworked garments offered in vintage
        | patterns and colours inspired by 1950s and 1960s cycling wear as well as the music and style of the Mods.  
        | This video has been shot in Brighton, a favourite destination of Mods at weekends travelling from London their Lambrettas.

  .pane
    video(loop  preload src="video/Behind the scenes with Bradley Wiggins.mp4")

  .pane
    .container
      .text
        | The Fred Perry brand logo is a laurel wreath used as a historic emblem of excellence.  
        | The motif was first used by the ancient Greeks as symbol of success and victory in war 
        | and in the first Olympic games.
        br
        br
        |  
        | When Perry launched his famous polo shirt at Wimbledon in 1952 the laurel logo was based 
        | on the old Wimbledon symbol and was stitched into the shirt.

  .pane
    video(loop  preload src="video/fredperyshirt.mp4")

  .pane
    .container
      .text
        | In the early 1950s, the championship-winning English tennis player Fred Perry
        | had the idea to produce a sports shirt made from knitted cotton pique with short sleeves. 
        br
        br
        | Initially produced in white, the tennis shirt was an immediate success.  
        | Thin stripes were introduced along the edge of the collar and combined with
        | additional colour to reference English football team colours and began to be
        | worn by team supporters as well as the fashion conscious.

  .pane
    video(loop  preload src="video/Fred Perry CEO John Flynn talks brands.mp4")