template(name="exhibit2")
  +exhibit(num='two' theme='eth')
  .pane
    .container
      .title Women’s short down coat
      aside
        .manufacturer Griffin
      article
        | Griffin is a British brand that has been designing for the past 20 years.
        | It is renowned for high quality finishes, craftsmanship, and manufacturing 
        | capabilities of their of their Italian factory La Rocca srl.
        br
        br
        | Natural fibers are brought together with high performance finishing treatments 
        | and each style is limited to just fifty pieces.
  .pane
    video(src="video/Griffin -- LOVE LIFE 2015.mp4" loop preload)

  .pane
    .container
      .text
        | Griffin works with local production wherever possible. 
        | Harris Tweed is a Scottish handwoven fabric made from pure virgin wool dyed and spun. 
        br
        br
        | It is protected by the Harris Tweed Act 1993, which strictly outlines the conditions 
        | in which the cloth can be made. The authentic fabric is issued with the Harris Tweed Orb Mark.

  .pane
    img(src="harris tweet.jpg")

  .pane
    .container
      .text
        | Griffin is a British mens and womenwear company based in North Devon.  
        | The brand mixes outdoor living with their urban roots both in philosophy and aesthetics. 
        br
        br
        | The apparel is made for surfing, camping, climbing as well as city living. 
        | Griffin wants its clothes to perform in their surroundings and to be used for an active lifestyle.

  .pane
    video(loop preload src="video/Griffin Hartland AW13-14 Catwalk show from Tokyo Japan.mp4")
  