template(name="exhibit1")
  .exhibit#one
    .pane
      button {{btnTxt}}
      p You've pressed the button {{counter}} times.
    .pane
      button {{btnTxt}}
      p You've pressed the button {{counter}} times.
    .pane
      button {{btnTxt}}
      p You've pressed the button {{counter}} times.
    .pane
      button {{btnTxt}}
      p You've pressed the button {{counter}} times.
    .pane
      button {{btnTxt}}
      p You've pressed the button {{counter}} times.
    .pane
      button {{btnTxt}}
      p You've pressed the button {{counter}} times.