template(name="exhibit10")
  +exhibit(num='ten' theme='nat')
  .pane
    .container
      .title Recycled
      aside
        .manufacturer Maharishi
      article 
        | Maharishi was founded in 1994 by Hardy Blechman with the vision to create
        | environmentallysound, fair-trade produced, long-lasting, high-quality, utilitarian
        | clothing. 
        br
        br
        | The collection has always included the strong natural fibre hemp as well as
        | organic cottons and upcycled military clothing. Maharishi remains a privately
        | owned company, and maintains a strong ethos of respect for nature while utilising
        | the latest technology.

  .pane
    .container
        .imgLeft
          img(src="maharishi-temple-logo.jpg")
        .imgRight
          img(src="maharishi-logo.jpg")

  .pane
    .container
      .text
        | Recycled military surplus has always been a permanent feature of maharishi's
        | mainline collection, including vintage surplus items that are recut and updated
        | with accessory and cord systems. 
        br
        br
        | These processes are carried out in India, where
        | the clothing is smudged with herbal incense, blessed, and washed in saffron
        | water to symbolically cleanse it of its military associations.

  .pane
    video(loop  preload src="video/maharishi-upcycled-strategy-and-research-document.ogv")

  .pane
    .container
      .text
        | Maharishi uses fab natural and man­made fabrics from a number of manufacturers
        | that include Schoeller in Switzerland.  
        br
        br
        | Harnessing the power of Schoeller's
        | 3XDRY® technology, fabrics become extremely water repellent on the outside,
        | while being water absorbent on the nside; keeping the body dry, minimising
        | perspiration marks and creating a cooling effect.

  .pane
    video(loop  preload src="video/maharishi-introduces-3xdry-technology.ogv")