template(name="exhibit15")
  +exhibit(num='fifteen' theme='per')
  .pane
    .container
      .title FlashBomb Zip Free 4/3
      aside
        .manufacturer Rip Curl
      article  
        | Zips can making getting in and out of wetsuits difficult, especially when hands
        | are cold and wet. In the zip-free version of the Flash Bomb wetsuit the surfer can
        | get in and out easily by pulling a portion of the garment from the shoulder over
        | the head to fit snugly.

  .pane
    video(loop preload src="video/Rip Curl Flash-Bomb Wetsuit - Zip Free.mp4")

  .pane
    .container
      .text
        | The Rip Curl Flash-Bomb is the latest innovation in surfing wetsuit technology.
        | Extremely lightweight, flexible and fast drying.
        br
        br
        | It uses E4 lightweight but highly
        | insulating neoprene. With two engineered layers to funnel water rapidly out of the
        | suit this makes it comfortably warm. It is worn by surfers including Mick Fanning,
        | Owen Wright, Taylor Knox and Matt Wilkinson.

  .pane
    video(loop preload src="video/Rip Curl Flash-Bomb Wetsuit - The World's Fastest Drying Wetsuit.mp4")

  .pane
    .container
      .text
        | Stitching can let water through so the Flash-Bomb wetsuit uses a special E4
        | stretch waterproof tape. The elasticity ensures comfort alongside performance.
        | The seams are double-taped to add to their strength and durability.

  .pane
    img(src="flashbomb.jpg")