template(name="exhibit4")
  +exhibit(num='four' theme='eth')
  .pane
    .container
      .title Team USA Luge suit
      aside
        .manufacturer Valiant
      article 
        | The suit created by Valiant for the USA Luge Team was designed to resemble the
        | look of the character XO Manowar.
        br
        br
        | XO Manowar is a time-displaced warrior bonded to
        | a suit of extra-terrestrial armour, the most technologically advanced weapon in existence. 
        | The armour grants him abilities like superhuman strength, power-absorption, teleportation, regeneration, and invisibility.

  .pane
    img(src="x-o manwear.jpg")

  .pane
    .container
      .text
        | The cutting-edge luge suit design – originally envisioned by artists Patrick
        | Zircher and Khari Evans – made its comic book debut in an all-new UNITY #1 cover
        | image with artwork by Diego Bernard. 
        br
        br
        | The cover features XO Manowar surrounded by the real-life luge athletes and it
        | was the first time Valiant has produced a specially commissioned variant cover for fundraising purposes.

  .pane
    img(src="UNITY Cover.jpg")

  .pane
    .container
      .text
        | USA Luge spends a considerable amount of time researching the fastest possible
        | fabrics for their race suits. Each summer, tests are conducted at the San Diego
        | Low Speed Wind Tunnel to determine, among other things, the most aerodynamically
        | efficient race suit for competition use. 
        br
        br
        | The suits are fitted and tailored to each athlete, as even the smallest wrinkle
        | can result in lost speed, especially in a sport timed to the 1/1000th of a second.
    
    .pane
      img(src="speed.jpg")