template(name="exhibit2")
  .exhibit#two
    .pane
      button {{btnTxt}}
      p You've pressed the button {{counter}} times.
    .pane
      button {{btnTxt}}
      p You've pressed the button {{counter}} times.
    .pane
      button {{btnTxt}}
      p You've pressed the button {{counter}} times.
    .pane
      button {{btnTxt}}
      p You've pressed the button {{counter}} times.
    .pane
      button {{btnTxt}}
      p You've pressed the button {{counter}} times.
    .pane
      button {{btnTxt}}
      p You've pressed the button {{counter}} times.