template(name="exhibit3")
  +exhibit(num='three' theme='eth')
  .pane
    .container 
      .title Podium Jacket
      aside
        .manufacturer Puma x Cedella Marley
      article
        | Cedella Marley teamed up with Puma to present the range of athletic/podium wear
        | and official uniforms the Jamaican team will be wearing for 2012 Olympics. 
        br
        br
        | Cedella is Bob Marley’s eldest daughter and started working as designer behind the
        | Marley family’s Catch a Fire clothing label, a combination of modern urban style
        | with a blend of vintage look.

  .pane
    img(src="pumaFabric.jpg")

  .pane
    .container
      .text
        | The high tech fabrics of the collection are engineered to enhance the
        | performance of the Jamaican Olympics athletes, including sprinter Usain Bolt. 
        br
        br
        | Bolt is the world’s fastest man and and the first man to hold both the 100 metres
        | and 200 metres world records since fully automatic time measurements became
        | mandatory in 1977. Along with his teammates, he also set the world record in the
        | 4×100 metres relay during Olympics 2008.

  .pane
    video(loop preload src="http://d7f2kled8s3wy.cloudfront.net/video/Cedella Marley Design & Puma.mp4")

  .pane
    .container
      .text
        | The Puma x Cedella Marley collection features military-inspired jackets with Bob
        | Marley’s face on the sleeve and the words “Positive Vibration” on the inside of the collar. 
        br
        br
        | The apparel also reflects the vibrancy of the Caribbean nation, with its colors and style. 
        | All of this represents the perfect blend of music, fashion and sports, that’s
        | definitely something that Puma embraces in its own designs.
    
  .pane
    img(src="woman podium jacket.jpg")