template(name="exhibit12")
  +exhibit(num='twelve' theme='nat')
  .pane
    .container
      .title StayWarm Series
      aside
        .manufacturer Virus
      article  
        | The Virus StayWarm Performance series is engineered to keep the athlete’s body
        | warm, dry, and comfortable. The Coffee Charcoal fabric is combined with a wicking
        | technology that moves moisture away from the body to keep the wearer warm and dry -
        | acting as a natural heating element and increasing skin surface temperatures.

  .pane
    video(loop  preload src="video/coffee.mp4")

  .pane
    .container
      .text
        | Virus StayWarm line of cold-weather clothing is made from Coffee Charcoal and
        | uses recycled coffee beans. 
        br
        br
        | The fabric has natural insulating properties and next to the skin can raise
        | surface temperatures by as much as 10 degrees Fahrenheit. The coffee grounds are
        | recycled and processed into a natural fiber to produce a comfortable base layer
        | fabric that traps heat.

  .pane
    img(src="coffee.jpg")

  .pane
    .container
      .text
        | The BioCeramic Compression pants aim to assist the athletes in their individual
        | pursuit to train, recover and perform. 
        br
        br
        | The material has been designed to
        | withstand the rigors of hard use and the needs of use in extreme conditions.
        | Benefits include improved circulation, accelerated repair and regeneration of tissues, and
        | increased immunity.

  .pane
    video(loop preload src="video/Mayfair Fifth- Justin Bogle Virus Compression Clothing.mp4")