template(name="exhibit9")
  +exhibit(num='nine' theme='nat')
  .pane
    .container
      .title Loudmouth golf clothing
      aside
        .manufacturer#nine Loudmouth
      article
        | Scott Woodworth began turning flamboyant textiles into golf pants in his Northern
        | California garage 15 years ago. 
        br
        br
        | He found some fabric with Warner Brothers cartoon
        | characters sitting on golf carts on a powder blue background and made himself a
        | pair of golf pants. Golfers started approaching him while playing golf in his
        | clothing asking where they could buy the clothes and a business was born.

  .pane
    video(loop  preload src="video/The Loudmouth Golf Story.mp4")

  .pane
    .container
      .text
        | Pattern is used in nature to camouflage and protect against predators or to create
        | spectacle. Similarities can be found between the harlequin camouflage pattern in
        | nature and the Argyle textile pattern. 
        br
        br
        | In golf the use of highly visible pattern acts to create spectacle. This also
        | performs a protective function, reducing the danger of a player not been seen
        | and accidentally being hit by a golf ball.

  .pane
    img(src="John Daly.jpg")

  .pane
    .container
      .text
        | The Argyle pattern is made of diamond or lozenge shapes and contains layers of
        | overlapping motifs, adding a sense of three-dimensionality, movement and
        | texture. 
        br
        br
        | Typically, there is an overlay of diagonal lines on solid diamonds. It is
        | derived from the tartan from the Argyll region of Western Scotland and used for
        | kilts, becoming popular for golf clothing in the 1920s.

  .pane
    img(src="argyle pattern.jpg")