@import 'jeet'
@import 'rupture'
@import 'client/colors'
@import 'client/fonts'
@import 'main'

    
splitLeft = 3/10
splitRight = 1 - splitLeft

.pane > video
  margin-top 3.5%
  center(80%)
  
.pane.dark
  background #000

.pane > img
  center(100%)
  margin-top 7.5%

.pane > .container
  center(90%)
  height 100%
  padding-top 10%
  +below(960px) //Tablet breakpoint
    padding-top 5%
  +below(800px) //Phone breakpoint
    padding-top 1%
  
aside
  col(1/4)

.title, .manufacturer
  font-family 'Unica Thin'
  
.title
  font-size 4rem
  margin-bottom 4%
  +below(960px) //Tablet breakpoint
    font-size 3.2rem
  +below(800px) //Phone breakpoint
    margin-bottom 1.2%
    font-size 1.8rem
  
.manufacturer
  font-size 2.4rem
  color black
  +below(800px) //Phone breakpoint
    font-size 1.7rem
    
.blurb
  margin-top 15%
  +below(800px) //Phone breakpoint
    font-size 0.95rem
    
/*specific for text without titles*/
.container > .text
  center(72%)    
  font-size 1.2rem
  +below(800px)
     center(75%)
     font-size 0.95rem 
.text
  center(100%)
  margin-top 7%
  
/*div for two pictures*/    
.imgLeft
    col(splitLeft)
    margin-top 7.5%
.imgLeft > img
    center(100%)

.imgRight
    col(splitRight)
    margin-top 7.5%

.imgRight > img
    center(100%)

    
article
  col(23/32)
  font-size 1.2rem
  +below(800px) //Phone breakpoint
    col(3/4)
    font-size 0.95rem
  
#one
  height 100%
  
#two
  height 100%
  
#three
  height 100%
  
#four
  height 100%
  