template(name="exhibit7")
  +exhibit(num='seven' theme='fas')
  .pane
    .container
      .title Moonlight Ocean Surf Suit
      aside
        .manufacturer Koru Swimwear
      article
        | The New Zealand label takes its logo and name from the Maori koru symbol, an unfurling spiral shape
        | like the frond of a fern. The koru is widely used in Maori Arts and 
        | can symbolize new and evolving life, hence the association with the recycling 
        | philosophy of the company.

  .pane
    video(loop  preload src="http://d7f2kled8s3wy.cloudfront.net/video/korustory.mp4")

  .pane
    .container
      .text
        | Koru founders Julie Brockmeyer Stine and April Slater look to create sustainable and 
        | technologically advanced swimwear collections.  
        | They do this through their design and material development as well as being members 
        | of 1% For the Planet that means they give 1% of their profits to environmental initiatives.

  .pane
    video(loop  preload src="http://d7f2kled8s3wy.cloudfront.net/video/About Koru Swimwear 2015.mp4")

  .pane
    .container
      .text
        | Koru swimsuits are made of Econyl®, a high-quality fabric, produced starting
        | from post-industrial wastes and discarded materials such as fishing nets, rigid
        | voile and carpet fluff, otherwise destined to the landfill.
        br
        br
        | By means of a depolymerisation process such materials are turned into a new
        | fiber to be employed in the production of cutting-edge, eco-friendly fabrics.

  .pane
    video(loop  preload src="http://d7f2kled8s3wy.cloudfront.net/video/The ECONYL® Regeneration System.mp4")