template(name="exhibit6")
  +exhibit(num='six' theme='fas')
  .pane
    .container
      .title Electric Light Shoe
      aside
        .manufacturer Freedom of Creation Onitsuka Tiger
      article
        | The Electric Light Shoe was commissioned by the Japanese trainer brand Onitsuka 
        | Tiger for use in a series of commercials.
        | The focus of the campaign was on the electric neon culture of Tokyo, and in
        | particular the Shibuya shopping district that brings together an intense mix of
        | shoppers, tourists, transport, neon and other light-based signage and moving images.

  .pane
    video(loop  preload src="video/Onitsuka Tiger- Electric Tigerland.ogv")

  .pane
    .container
      .text
        | The intricate details of the Electric Light Shoe have been achieved with the 3D printing technology. 
        | The 3D printing or additive manufacturing is a process of making 
        | three dimensional solid objects from a digital file.
        br
        br
        |In an additive process, an object is 
        | created by laying down successive layers of material, commonly nylon, until the 
        | entire object is created. Each of these layers can be seen as a thinly sliced 
        |horizontal cross-section of the eventual object.

  .pane
    video(loop  preload src="video/The Making of Onitsuka Electric Tiger Shoe.ogv")

  .pane
    .container
      .text
        | The 3D printed shoe used in the advertising caplaign was accompanied by small
        | reproductions developed for Onitsuka retail stores worldwide. 
        | A USB-shoe memory key was produced and once activated, it issues a soft diffuse light.

  .pane
    img(src="usb image.jpg")