template(name="exhibit1")
  .exhibit#one
    .pane
      .container
        .title Eepmon Synthesis Parka
        // Left Column 1/4
        .header
          .manufacturer Canada Goose
        // Right Column 3/4  
        article 
          | The Eepmon synthesis Parka is a collaboration with Canada Goose. It is both designed and made in Canada,
          | using hand craft skills coupled with high performance fabrics.
          br
          br
          | Having these production skills allows the 
          | brand great freedom in focusing on small but important details that form the company’s reputation for high
          | quality performance outerwear.  
        
    .pane
      video(loop preload autoplay src="video/eepmon.mp4")
      
    .pane
      .container
        .title Eepmon Synthesis Parka
        .header
          .manufacturer Canada Goose
          
        article 
          | The inside lining of the Synthesis Parka reveals the beautifully crafted artwork by Eepmon,
          | which tells his story - a Canadian artist who bridges between both Eastern and Western cultures.
          | Indeed, the printed image depicts geese migrating among colorful fall leaves, eggs, and landmarks
          | symbolic to Canada.
        
    .pane
      video(loop preload autoplay src="video/canadaGoose.mp4")
      
    .pane
      button {{btnTxt}}
      p You've pressed the button {{counter}} times.
      
    .pane
      button {{btnTxt}}
      p You've pressed the button {{counter}} times.