template(name="exhibit14")
  +exhibit(num='fourteen' theme='per')
  .pane
    .container
      .title Adventure: Fitness Longsleeve
      aside
        .manufacturer OMsignal
      article  
        | The OMSignal shirts have been designed by a small multidisciplinary team of
        | medical and bio-engineering scientists, hardware and software engineers, product
        | design specialists as well as smart textile engineers and fashion artisans. 
        | Each contributes a unique specialism necessary because of the complexity in
        | designing smart garments.

  .pane
    video(loop  preload src="video/Why OMsignal-.ogv")

  .pane
    .container
      .text
        | This refers to a group of technologies that measure and analyze human body
        | characteristics, such as DNA, fingerprints, voice patterns, facial patterns, hand
        | measurements, eye retinas and irises. 
        br
        br
        | This can be done to verify identity but used
        | in the context of sports and fitness it can provide real-time feedback on the
        | wearers fitness and activity.

  .pane
    video(loop  preload src="video/Push your fitness into the 21st century- OMsignal's OM Certified Workout Videos.ogv")

  .pane
    .container
      .text
        | The garment uses a compression fabric as the basis for the wearable technologies and is made of polyester. 
        br
        br
        | The elimination of seams with additional properties such as moisture management
        | and odour control create greater comfort for the wearer. The smartphone pocket
        | in the garment is placed on the sleeve for easy access to the biometric data
        | gathered by the wearer.

  .pane
    video(loop  preload src="video/OMsignal - Lean Startup, Lean Textile.ogv")