template(name="exhibit11")
  +exhibit(num='eleven' theme='nat')
  .pane
    .container
      .title Fastskin LZR Racer Elite 2
      aside
        .manufacturer Speedo
      article  
        | Speedo’s Fastskin is a revolutionary fabric inspired by sharkskin. 
        | It was first introduced to competitive swimwear during the 2008 Sydney Olympics,
        | where swimmers wearing the Speedo swimsuits took the majority of
        | medals at the games. 
        br
        br
        | The Fastskin LZR Racer Elite 2 is super lightweight, with
        | increased compression, drag resistance and water repellency.

  .pane
    video(loop  preload src="http://d7f2kled8s3wy.cloudfront.net/video/Speedo Fastskin LZR Racer X - Feel the Water- Feel the Speed - Feel Fast.mp4")

  .pane
    .container
      .text
        | To the human eye the skin of the shark looks smooth, but using Scanning Electron
        | Microscopy (SEM), an advanced imaging process, we can see that it is in
        | fact made of tiny ridges.

  .pane
    img(src="speedo.jpg")

  .pane
    .container
      .text
        | Speedo’s material scientists have used high technology knitting techniques to
        | mimic the sharkskin. This design process is known as Biomimicry or Biomimetics.
        | Speedo have spent more than 55,000 hours researching, testing and designing the
        | fastskin racing system.

  .pane
    video(loop  preload src="http://d7f2kled8s3wy.cloudfront.net/video/SharkSkin.mp4")