template(name="exhibit3")
  .exhibit#three
    .pane
      button {{btnTxt}}
      p You've pressed the button {{counter}} times.
    .pane
      button {{btnTxt}}
      p You've pressed the button {{counter}} times.
    .pane
      button {{btnTxt}}
      p You've pressed the button {{counter}} times.
    .pane
      button {{btnTxt}}
      p You've pressed the button {{counter}} times.
    .pane
      button {{btnTxt}}
      p You've pressed the button {{counter}} times.
    .pane
      button {{btnTxt}}
      p You've pressed the button {{counter}} times.